html::-webkit-scrollbar { 
  display: none;
}

html, body, .view { 
	height: 100%; 
	width: 100%; 
	margin: 0; 
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	background-color: rgb(104, 183, 252);
	height: 100%;
	width: 100%
}

.column {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.banner {
	width: 100%;
	height: 100%;
}

.column-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	width: 33%;
	height: 100%;
}

.admin-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 100%;
	height: 100%;
}

.admin-container-inside {
	height:90%; 
	width: 100%; 
	overflow-y: auto; 
	border: 2px solid black; 
	border-radius: 5px;
}

.admin-menu-item {
	height: 100% !important;
}

.admin-menu-button {
	letter-spacing: 3px; 
	font-weight: 800;
}

.md-secondary-container {
	margin-top: 0px !important;
}

.tweet {
	height: 19%;
	padding: 0px;
	margin: 0px;
	width: 95%;
}

.tweet-image {
	height: 39%;
	padding: 0px;
	margin: 0px;
	width: 95%;
}

.half {
	height: 50%;
}

.full {
	height: 100%;
}

.half-header {
	height: 15%;
}

.full-header {
	height: 30%
}

.half-content {
	height: 75%;
}

.full-content {
	height: 50%
}

.half-footer {
	height: 10%;
}

.full-footer {
	height: 20%
}

.tweet-container {
	margin: 0px; 
	height: 100%;
}

.tweet-inside {
	padding: 16px;
	display: block; 
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

.disabled {
	opacity: 0.5;
	transition: .5s;
}

.enabled {
	opacity: 1;
	transition: .5s;
}

.blocked {
	opacity: 0.5;
	transition: .5s;
}

.pinned-button-selected {
	color : #FFC400;
}

.delete-button-selected {
	color : #FF1744;
}

.blocked-button-selected {
	color : #FF1744;
}

.md-menu {
	border-bottom: 3px solid transparent;
	transition: 1s;
	margin: 10px 80px;
}

.md-menu:hover {
	border-bottom: 3px solid black;
	transition: 1s;
	margin: 10px 120px;
}

.tweet-media { 
	max-height: 500px;
	object-fit: cover;
}

b {
	font-weight: 400;
	color: #1b95e0;
}

.fav-icon {
	color:#E81C4F;
}

.retweet-icon {
	color:#19CF86
}
