<div ng-class="{'container-admin': loggedIn, container: !loggedIn, 'container-admin-mobile': isMobile}">
    <md-button ng-if="loggedIn&&isMobile" style="width: 95%" ng-click="changeTab(1)"><h2>PINNED</h2></md-button>
        <tweet-column
            position="left"
            tweets="tweets"
            visitors-tweets="visitorsTweets"
            speakers-tweets="speakersTweets"
            pinned-tweets="pinnedTweets"
            extra-pinned-tweets="extraPinnedTweets"
            extra-speakers-tweets="extraSpeakersTweets"
            admin="loggedIn"
            ng-hide="tab!==1&&isMobile"
            get-size="getSize"
            switch="switch"
            is-mobile="isMobile"
            set-deleted-status="setDeletedStatus(id, status)"
            add-blocked-user="addBlockedUser(name, screen_name)"
            set-pinned-status="setPinnedStatus(id, status)"
            display-blocked-tweet="displayBlockedTweet(id)"
            ng-class="{'column-container': !loggedIn, 'column-container-admin': loggedIn, 'mobile': isMobile}"
            toggle-blocked="toggleBlocked(name, screen_name, blocked)"
        ></tweet-column>
    <md-button ng-if="loggedIn&&isMobile" style="width: 95%" ng-click="changeTab(2)"><h2>VISITORS</h2></md-button>
        <tweet-column
            position="middle"
            tweets="tweets"
            ng-hide="tab!==2&&isMobile"
            visitors-tweets="visitorsTweets"
            speakers-weets="speakersTweets"
            pinned-tweets="pinnedTweets"
            extra-pinned-tweets="extraPinnedTweets"
            extra-speakers-tweets="extraSpeakersTweets"
            admin="loggedIn"
            switch="switch"
            is-mobile="isMobile"
            get-size="getSize"
            set-deleted-status="setDeletedStatus(id, status)"
            add-blocked-user="addBlockedUser(name, screen_name)"
            set-pinned-status="setPinnedStatus(id, status)"
            display-blocked-tweet="displayBlockedTweet(id)"
            ng-class="{'column-container': !loggedIn, 'column-container-admin': loggedIn, 'mobile': isMobile}"
            toggle-blocked="toggleBlocked(name, screen_name, blocked)"
        ></tweet-column>
    <md-button ng-if="loggedIn&&isMobile" style="width: 95%" ng-click="changeTab(3)"><h2>SPEAKERS</h2></md-button>
        <tweet-column
            position="right"
            tweets="tweets"
            switch="switch"
            ng-hide="tab!==3&&isMobile"
            is-mobile="isMobile"
            visitors-tweets="visitorsTweets"
            speakers-tweets="speakersTweets"
            pinned-tweets="pinnedTweets"
            extra-pinned-tweets="extraPinnedTweets"
            extra-speakers-tweets="extraSpeakersTweets"
            admin="loggedIn"
            get-size="getSize"
            set-deleted-status="setDeletedStatus(id, status)"
            add-blocked-user="addBlockedUser(name, screen_name)"
            set-pinned-status="setPinnedStatus(id, status)"
            display-blocked-tweet="displayBlockedTweet(id)"
            ng-class="{'column-container': !loggedIn, 'column-container-admin': loggedIn, 'mobile': isMobile}"
            toggle-blocked="toggleBlocked(name, screen_name, blocked)"
        ></tweet-column>
</div>
