<div class="container">
    <tweet-column
        position="left"
        tweets="tweets"
        visitors-tweets="visitorsTweets"
        speakers-tweets="speakersTweets"
        pinned-tweets="pinnedTweets"
        extra-pinned-tweets="extraPinnedTweets"
        extra-speakers-tweets="extraSpeakersTweets"
        admin="loggedIn"
        get-size="getSize"
        set-deleted-status="setDeletedStatus(id, status)"
        add-blocked-user="addBlockedUser(name, screen_name)"
        set-pinned-status="setPinnedStatus(id, status)"
        display-blocked-tweet="displayBlockedTweet(id)"
        class="column-container"
    ></tweet-column>
    <tweet-column
        position="middle"
        tweets="tweets"
        visitors-tweets="visitorsTweets"
        speakers-weets="speakersTweets"
        pinned-tweets="pinnedTweets"
        extra-pinned-tweets="extraPinnedTweets"
        extra-speakers-tweets="extraSpeakersTweets"
        admin="loggedIn"
        get-size="getSize"
        set-deleted-status="setDeletedStatus(id, status)"
        add-blocked-user="addBlockedUser(name, screen_name)"
        set-pinned-status="setPinnedStatus(id, status)"
        display-blocked-tweet="displayBlockedTweet(id)"
        class="column-container"
    ></tweet-column>
    <tweet-column
        position="right"
        tweets="tweets"
        visitors-tweets="visitorsTweets"
        speakers-tweets="speakersTweets"
        pinned-tweets="pinnedTweets"
        extra-pinned-tweets="extraPinnedTweets"
        extra-speakers-tweets="extraSpeakersTweets"
        admin="loggedIn"
        get-size="getSize"
        set-deleted-status="setDeletedStatus(id, status)"
        add-blocked-user="addBlockedUser(name, screen_name)"
        set-pinned-status="setPinnedStatus(id, status)"
        display-blocked-tweet="displayBlockedTweet(id)"
        class="column-container"
    ></tweet-column>
</div>
