<div layout="column" class="column">
    <div class="tweet"
        ng-class="{'all': admin}">
		<img src="../assets/Bristech-Banner.png" class="banner" />
	</div>
	<ng-include
        src="'/templates/tweet.html'"
        ng-repeat="tweet in pinnedTweets | orderBy : tweetDate : true track by $index"
        ng-class="{'tweet-image' : hasImage(tweet), 'tweet' : !hasImage(tweet), 'all': admin}"
    ></ng-include>
    <ng-include
        src="'/templates/tweet.html'"
        ng-repeat="tweet in extraPinnedTweets | orderBy : tweetDate : true track by $index"
        ng-class="{'tweet-image' : hasImage(tweet), 'tweet' : !hasImage(tweet), 'all': admin}"
    ></ng-include>
</div>
