<div layout="column" class="column">
    <div class="tweet">
		<img src="../assets/Bristech-Banner.png" class="banner" />
	</div>
	<ng-include
        src="'/templates/tweet.html'"
        ng-repeat="tweet in pinnedTweets | orderBy : tweetDate : true track by $index"
        ng-class="{'tweet-image' : tweet.entities.media[0] !== undefined, 'tweet' : tweet.entities.media[0] === undefined}"
    ></ng-include>
    <ng-include
        src="'/templates/tweet.html'"
        ng-repeat="tweet in extraPinnedTweets | orderBy : tweetDate : true track by $index"
        ng-class="{'tweet-image' : tweet.entities.media[0] !== undefined, 'tweet' : tweet.entities.media[0] === undefined}"
    ></ng-include>
</div>
