<md-card class="tweet-container">
    <div class="tweet-inside">
        <md-card-header style="margin: 0px; padding: 0px; height: 30%">
            <md-card-avatar style="height: 100%">
                <img ng-src="{{tweet.user.profile_image_url_https}}" class="md-user-avatar" style="height: 100%" />
            </md-card-avatar>
            <md-card-header-text style="height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                <span class="md-headline" style="height: 50%">
                {{tweet.user.name}}</span>
                <span class="md-subhead" style="height: 40%">
                    @{{tweet.user.screen_name}}
                </span>
            </md-card-header-text>
            <md-card-icon-actions ng-if="admin">
                <ng-include src="'/templates/tweet-admin-controls.html'"></ng-include>
            </md-card-icon-actions>
            <md-card-icon-actions ng-if="!admin && tweet.pinned">
                <md-button class="md-icon-button">
                    <md-icon class="pinned-button-selected"><i class="material-icons">star_rate</i></md-icon>
                </md-button>
            </md-card-icon-actions>
        </md-card-header>
        <img class="md-card-image tweet-media" ng-if="tweet.entities.media[0].media_url_https!==undefined" ng-src="{{tweet.entities.media[0].media_url_https}}"/>
        <md-card-content style="margin: 0px;padding: 0px;  height: 50%; overflow: hidden; display: flex; align-content: center; align-items: center;">
            <div ng-bind-html="tweet.text" style="margin: 0px;padding: 10px 0px; overflow: hidden;" ng-style="getSize(tweet.text)" ></div>
        </md-card-content>
        <md-card-footer style="margin: 0px;padding: 0px;  height: 20%">
            <div layout="row" layout-align="end center" layout-wrap>
                <div layout="row" layout-align="start center" flex>
                    <span class="md-subhead" am-time-ago="tweet.created_at | amParse:'ddd MMM DD HH:mm:ss ZZZZZ yyyy'">
                    </span>
                </div>
                <i class="material-icons md-18 fav-icon">favorite</i> &nbsp {{tweet.favorite_count}} &nbsp
                <i class="material-icons md-18 retweet-icon">cached</i> &nbsp {{tweet.retweet_count}}
            </div>
        </md-card-footer>
    </div>
</md-card>
